body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0 20px; /* <-- 좌우 여백 추가 */
}

#wrapper {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

input[type="file"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table th, table td {
    padding: 7px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.subtitle {
    text-align: center;
    font-size: 0.9em;
    color: #888;
    margin-top: -10px;
    margin-bottom: 20px;
}